@using Myoutlet.ge.ViewModels
@model ViewModel
@{
    ViewBag.Title = "ცხელი ფასდაკლებები";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
            <div class="container-fluid">
                <div id="partners" class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        პროდუქტები
                        <p style="font-size:12px">(ცხელი ფასდაკლების სიაში უნდა დაამატოთ მინიმუმ 4, მაქსიმუმ 8 პროდუქტი. ჩამოთვლილ პროდუქტთა რაოდენობა - @Model.DiscountsList.Count)</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>სახელი</th>
                                        <th>კატეგორია</th>
                                        <th>ქვეკატეგორია</th>
                                        <th>კომპანიის სახელი</th>
                                        <th id="stsBtn"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model.Products)
                                    {
                                    <tr>
                                        <td>
                                            <a href="/home/product/@product.Id">@product.Name</a>
                                        </td>
                                        <td>@product.Category.Name</td>
                                        <td>@product.Kind.Name</td>
                                        <td>
                                            <a href="/home/partner/@product.Partner.Id">@product.Partner.CompanyName</a>
                                        </td>
                                        @if (Model.DiscountsList.Contains(product.Id))
                                        {
                                    <td>
                                        <a href="/main/admin/AddHotDiscount/@product.Id" class="btn btn-success disabled">დამატება</a>
                                        <a href="/main/admin/RemoveHotDiscount/@product.Id" class="btn btn-primary prmry">წაშლა</a>
                                    </td>
                                        }
                                        else if (Model.DiscountsList.Count > 7)
                                        {
                                    <td>
                                        <a href="/main/admin/AddHotDiscount/@product.Id" class="btn btn-success disabled">დამატება</a>
                                        @if (Model.DiscountsList.Contains(product.Id))
                                        {
                                    <a href="/main/admin/RemoveHotDiscount/@product.Id" class="btn btn-primary prmry">წაშლა</a>
                                        }
                                        else
                                        {
                                    <a href="/main/admin/RemoveHotDiscount/@product.Id" class="btn btn-primary disabled">წაშლა</a>
                                        }
                                    </td>
                                        }
                                        else
                                        {
                                    <td>
                                        <a href="/main/admin/AddHotDiscount/@product.Id" class="btn btn-success sccss">დამატება</a>
                                        <a href="/main/admin/RemoveHotDiscount/@product.Id" class="btn btn-primary disabled">წაშლა</a>
                                    </td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>