@using Myoutlet.ge.ViewModels
@model ViewModel
@{
        ViewBag.Title = Model.Partner.CompanyName;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="mag-breadcrumb py-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/home/index">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    მთავარი
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/home/partners">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    პარტნიორები
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Partner.CompanyName</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="mag-posts-area d-flex flex-wrap">
        <div class="post-sidebar-area left-sidebar mb-30 bg-white box-shadow">
            @if (Model.Categories.Count > 0)
            {
                <div class="single-sidebar-widget p-30">
                    <div class="section-heading">
                        <h5>კატეგორიები</h5>
                    </div>
                    <ul class="catagory-widgets">
                        @foreach (var category in Model.Categories)
                        {
                            if (category.Products.Where(x => x.Status == true).Count() > 0)
                            {
                                <li>
                                    <a href="/home/kindbycategory/@category.Id">
                                        <span>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i> @category.Name
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
            @if (Model.Adds.Count > 0)
            {
                <div class="single-sidebar-widget p-30">
                    <div class="section-heading">
                        <h5>რეკლამა</h5>
                    </div>
                    <div class="single-sidebar-widget">
                        <a href="//@Model.Adds[0].Linkd" target="_blank" class="add-img">
                            <img src="~/Images/Adds/@Model.Adds[0].ImgName" alt="">
                        </a>
                    </div>
                </div>
            }
            <div class="single-sidebar-widget">
                <div class="social-followers-info">
                    @if (Model.FbLink.Link != null)
                    {
                        <a href="//@Model.FbLink.Link" target="_blank" class="facebook-fans">
                            <i class="fa fa-facebook"></i>
                            <span>ფანი</span>
                        </a>
                    }
                    @if (Model.InstaLink.Link != null)
                    {
                        <a href="//@Model.InstaLink.Link" target="_blank" class="instagram">
                            <i class="fa fa-instagram"></i>
                            <span>მიმდევარი</span>
                        </a>
                    }
                    @if (Model.YoutubeLink.Link != null)
                    {
                        <a href="//@Model.YoutubeLink.Link" target="_blank" class="youtube-subscribers">
                            <i class="fa fa-youtube"></i>
                            <span>გამომწერი</span>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="mag-posts-content mb-30 p-30 box-shadow">
            @if (Model.Products.Count > 0)
            {
                <div class="row">
                    <span style="padding:15px">დალაგება</span>
                    <select class="form-control sort" style="width:25%;">
                        <option value="1">ფასი (აღმავალი)</option>
                        <option value="2">ფასი (დაღმავალი)</option>
                        <option value="3" selected>ფასი (აღმავალი)</option>
                        <option value="4">ფასი (დაღმავალი)</option>
                    </select>
                </div>
                <div class="section-heading">
                    <h5>@Model.Partner.CompanyName - ყველა პროდუქცია</h5>
                </div>
                <div class="featured-video-posts mb-30">
                    <div class="row pro_item">
                        @foreach (var product in Model.Products)
                        {
                            <div class="single-featured-post col-12 col-md-4" price-data="@product.SaledCost" date-data="@product.Id">
                                <div class="post-thumbnail">
                                    <div class="listing">
                                        <div class="listing_image">
                                            <div class="listing_image_container">
                                                <a href="/home/product/@product.Id">
                                                    <img class="img_size" src="~/Images/Product-images/@product.ProductUniqueNum/@product.Photo" alt="@product.Name">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prop_location listing_location justify-content-start">
                                        <center>
                                            <a href="/home/product/@product.Id">@product.Name</a>
                                        </center>
                                    </div>
                                </div>
                                <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    <div class="tag tag_green">
                                        <a>@product.Cost GEL</a>
                                        <div class="line2"></div>
                                    </div>
                                    <div class="tag tag_sale">
                                        <a>@product.SaleInPercent%</a>
                                    </div>
                                    <div class="tag tag_house">
                                        <a>@product.SaledCost GEL</a>
                                    </div>
                                </div>
                                <div class="post-share-area align-items-center mt-0 mb-5">
                                    <div class="post-meta pl-3 row">
                                        <div class="post-meta d-inline-block">
                                            <div class="d-flex">
                                                <div class="img1">
                                                    <img src="~/img/bg-img/icon1.png">
                                                </div>
                                                <a href="/home/partner/@product.Partner.Id">&nbsp @product.Partner.CompanyName</a>
                                            </div>
                                            <div class="d-flex mt-1">
                                                <div class="img2">
                                                    <img src="~/img/bg-img/icon2.png">
                                                </div>
                                                <a href="/home/productbykind/@product.KindId">&nbsp @product.Kind.Name</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="share-info d-flex">
                                        <a class="sharebtn">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                        </a>
                                        <div class="all-share-btn d-flex">
                                            <a class="facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('http://myoutlet.ge/home/product/@product.Id'), 'facebook-share-dialog', 'width=626,height=436'); return false;">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.Products.Count > 15)
            {
                <button class="btn more">მეტის ჩატვირთვა</button>
            }
            else
            {
                <button class="btn more" disabled="disabled">მეტის ჩატვირთვა</button>
            }
        </div>
                    <div class="post-sidebar-area right-sidebar mb-30 box-shadow">
                        @if (Model.Partners.Count > 0)
                        {
                        <div class="single-sidebar-widget p-30">
                            <div class="section-heading">
                                <h5>პარტნიორები</h5>
                            </div>
                            @foreach (var partner in Model.Partners)
                            {
                                if (partner.Products.Where(x => x.Status == true).Count() > 0)
                                {
                                    <div class="single-youtube-channel d-flex">
                                        <div class="youtube-channel-thumbnail">
                                            <a href="/Home/Partner/@partner.Id">
                                                <img src="~/Images/Partner-Logos/@partner.CompanyLogo" alt="@partner.CompanyName">
                                            </a>
                                        </div>
                                        <div class="youtube-channel-content">
                                            <a href="/Home/Partner/@partner.Id" class="channel-title">@partner.CompanyName</a>
                                            <a href="/Home/Partner/@partner.Id" class="btn subscribe-btn">ყველა პროდუქცია</a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        }
                        @if (Model.Adds.Count > 1)
                        {
                            <div class="single-sidebar-widget p-30">
                                <div class="section-heading">
                                    <h5>რეკლამა</h5>
                                </div>
                                <div class="single-sidebar-widget">
                                    <a href="//@Model.Adds[1].Linkd" target="_blank" class="add-img">
                                        <img src="~/Images/Adds/@Model.Adds[1].ImgName" alt="">
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
</section>